*__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.swp
*.zip
*.out
*.log
node_modules/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.db
.env

data/pickles/*
data/csvs/*
saved_models/word_embeddings/*
saved_models/tfidf_model/*
training/results/*

!saved_models/word-embeddings/.gitkeep
!saved_models/tfidf_model/.gitkeep
!data/csvs/.gitkeep
!data/pickles/.gitkeep
!figures/.gitkeep
